@charset "utf-8"; @import "~bulma/bulma.sass";
@import "bulma";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

:root {
  --colorLogo: #000;
  --colorHeaderFooter: #fff;
  --colorText: #000;
  --colorLink: #000;
  --colorLinkHover: #303030;
  --colorBackground: #f8f8fa;
  --colorButton: #323232;
  --colorBorder: #dbdbdb;
  --colorInput: #fff;
  --colorBody: #fff;
  --colorDropdown: #fff;
  --colorCard: #EEE9CF;
}


[data-theme="dark"] {
  --colorLogo: #ffffff;
  --colorHeaderFooter: #36394c;
  --colorText: #eff2f7;
  --colorLink: #eff2f7;
  --colorLinkHover: #b4b4b4;
  --colorBackground: #171717;
  --colorButton: #323232;
  --colorBorder: transparent;
  --colorInput: #1A1A1B;
  --colorBody: #222222;
  --colorDropdown: #414141;
  --colorCard: #171717;
}

* {
  font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5, .card-header-title, p {
  color: var(--colorText) !important;
}


body {
  min-height: 95vh;
  color: var(--colorText) !important;
  background-color: var(--colorBody);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container-mid {
  display: flex ;
	align-items: center;
	justify-content: center;
}

.navbar {
  background-color: var(--colorBackground) !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25); 
  background-color: var(--colorBackground) !important;
  color: var(--colorText) !important;
}

.navbar-menu {
  background-color: var(--colorBackground) !important;
  color: var(--colorText) !important;
}

.navbar-item {
  color: var(--colorLink) !important;
}

.navbar-item:hover {
  color: var(--colorLinkHover) !important;
  background-color: transparent !important;
}


a.dropdown-item {
  padding-right: 0rem !important;
}

.dropdown-menu {
  min-width: 11rem !important;
}

.navbar-link:not(.is-arrowless)::after {
  border: 0px solid transparent !important;
  margin-top: -0.375em;
  right: 1.125em;
}

.navbar-link:not(.is-arrowless) {
  padding-right: 0px !important;
}

.navbar-dropdown {
  border-top-color: transparent !important;
}

.navbar-item.has-dropdown > .navbar-link:hover {
  color: var(--colorLink) !important;
}

.is-left {
  color: hsl(0, 0%, 48%) !important;
}

.is-left:focus {
  color: #000 !important;
}

input::placeholder,
textarea::placeholder {
  color: hsl(0, 0%, 48%) !important;
}

input, textarea {
  background-color: var(--colorInput) !important;
  border-color: var(--colorBorder) !important;
  color: var(--colorText) !important;
}

.logo {
  color: var(--colorLogo) !important;
}

.button.is-black, .button.is-black:focus {
  background-color: var(--colorButton) !important;
  border-color: transparent !important;
}


.button:focus:not(:active) {
  box-shadow: none !important;
}

.button.is-focused, .button:focus {
  border-color: #dbdbdb !important;
  color: #363636;
}


.toggle-container {
  margin-right: 5px;
  position: relative;
  width: 65px;
  height: 38px;
  background-color: #dadada;
  cursor: pointer;
  user-select: none;
  border-radius: 15px;
  padding: 5px;
}
.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  line-height: 14px;
  cursor: pointer;
  color: #fff;
  background-color: hsl(0, 0%, 7%);
  padding: 2px;
  border-radius: 15px;
  position: absolute;
  transition: all 0.21s ease;
  left: 30px;
}

.disable {
  background-color: #fffcfc;
  color: #000;
  left: 4px;
}



/* !!!! */

.card-items, .card-collections {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: sans-serif;
  padding-top: 30px;
}

.card-collection-img {
  z-index: -1;
  padding-top: 5px;
  padding-right: 5px;
  top: 0;
  right: 0;
  position: absolute;
  height: 90px;
}

.card-collections {
  z-index: 1;
  position: relative;
}

.card {
  cursor: pointer;
  background-color: var(--colorCard) !important;
  color: var(--colorText) !important;
  border: 1px solid var(--colorBorder) !important;
}

.card-items * {
  box-sizing: border-box;
}

.card-item-content, .card-collection-content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
}

.card-item-content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-weight: 400;
  color: #b4b4b4;
}

.card-item-title {
  font-weight: bold;
  margin-bottom: 5px;
}


.tag {
  vertical-align: middle;
  margin: 2px;
}

.search-box {
  border-radius: 5px 0 0 5px !important;
}

.search-box-button {
  border-radius: 0 5px 5px 0 !important;

}